* {
  box-sizing: border-box;
}

h1{
  text-align: center;
  color: #4E9CAF;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0 0 0 0;
  background-color: #13294B;
}

input[type="text"] {
  padding: 5px;
  width: 100%;
  margin-bottom: 2px;
}

label.bookmark-label{
  margin: 3px;
}

select {
  width: 120px;
  height: 30px;
  margin: 5px;
  background: #4E9CAF;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  line-height: 25px;
  border-color: grey;
}

fieldset{
  width: 100%;
}

textarea{
  width: 100%;
}

button:hover {
  cursor: pointer;
}
.button-align {
  display: flex;
  justify-content: space-evenly;
}

.list-control {
  display: flex;
  justify-content: space-between;
}

.bookmark {
  width: 100%;
}

.container-form{
  background-color: white;
}

.bookmark-list {
  list-style: none;
  padding-left: 0;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

.bookmark-list li {
  border: 1px solid grey;
  padding: 15px;
}

.container, .container-form {
  width: 100%;
  margin: 0 auto;
  border: 1px solid grey;
}

.error-container {
  color: red;
  font-weight: bold;
  text-align: center; 
}

.error-container * {
  display: inline-block;
}

#cancel-error {
  margin-right: 0.5rem;
}

button.new-bookmark-button{
  margin: 5px;
}

button, .button {
  display: block;
  width: 115px;
  height: 30px;
  background: #4E9CAF;
  text-align: center;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  line-height: 25px;
  margin-left: 2px;
}

.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */
}

.star-cb-group * {
  font-size: 1rem;
}

.star-cb-group>input {
  position: absolute;
  opacity: 0;
}

.star-cb-group>input+label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
}

.star-cb-group>input+label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "☆";
  color: black;
}

.star-cb-group>input:checked~label:before,
.star-cb-group>input+label:hover~label:before,
.star-cb-group>input+label:hover:before {
  content: "★";
  color: rgb(155, 39, 0);
  text-shadow: 0 0 1px #333;
}

.star-cb-group>.star-cb-clear+label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}

.star-cb-group>.star-cb-clear+label:before {
  width: .5em;
}

.star-cb-group:hover>input+label:before {
  content: "☆";
  color: #888;
  text-shadow: none;
}

.star-cb-group:hover>input+label:hover~label:before,
.star-cb-group:hover>input+label:hover:before {
  content: "★";
  color: rgb(155, 39, 0);
  text-shadow: 0 0 1px #333;
}

.icon {
  color: rgb(155, 39, 0);
  text-shadow: 0 0 1px #333;
}

@media all and (min-width: 475px){
  .container, .container-form {
    width: 350px;
    
  }
}

@media all and (min-width: 750px){
  .container, .container-form {
    width: 650px;
  }
}

@media all and (min-width: 1000px){
  .container, .container-form {
    width: 850px;
  }
}

@media all and (min-width: 1250px){
  .container, .container-form {
    width: 1000px;
  }
}